<div class="mt-4" [formGroup]="checkoutForm">
    <div class="row" formGroupName="deliveryForm">
        <div class="col-6 form-group" *ngFor="let method of deliveryMethods">
            <input
                type="radio"
                id={{method.id}}
                value={{method.id}}
                formControlName="deliveryMethod"
                class="custom-control-input"
            >
            <label for="{{method.id}}" class="custom-control-label">
                <strong>{{method.shortName}} - {{ method.price | currency}}</strong>
                <br>
                <span class="label-description">{{ method.description }}</span>
            </label>
        </div>
    </div>
</div>